public/data/a1-course-v3.csv text eol=lf
public/data/a2-course-v1.csv text eol=lf
public/data/a1-pattern-exercises.json text eol=lf
public/data/a1-reading-exercises.json text eol=lf
public/data/a2-pattern-exercises.json text eol=lf
public/data/a2-reading-exercises.json text eol=lf
